@-webkit-keyframes my-fade {
    from{
        transform: scale(0.1);
        -webkit-transform: scale(0.1);
        opacity: 0;
    }
    to{
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@keyframes my-fade {
    from{
        transform: scale(0.1);
        -webkit-transform: scale(0.1);
        opacity: 0;
    }
    to{
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
@keyframes my-fade-reverse {
    from{
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(0.1);
        -webkit-transform: scale(0.1);
        opacity: 0;
    }
}
@-webkit-keyframes my-fade-reverse {
    from{
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(0.1);
        -webkit-transform: scale(0.1);
        opacity: 0;
    }
}
@keyframes slide-down {
    from{
        opacity: 0;
        top: 0;
    }
    to{
        opacity: 1;
        top: 140px;
    }
}
@-webkit-keyframes slide-down {
    from{
        opacity: 0;
        top: 0;
    }
    to{
        opacity: 1;
        top: 140px;
    }
}
@keyframes slide-down-re {
    from{
        opacity: 1;
        top: 140px;
        -webkit-transform: scale(0.9);
    }
    to{
        opacity: 0;
        top: 0;
        -webkit-transform: scale(0.9);
    }
}
@-webkit-keyframes slide-down-re {
    from{
        opacity: 1;
        top: 140px;
        -webkit-transform: scale(0.9);

    }
    to{
        opacity: 0;
        top: 0;
        -webkit-transform: scale(0.9);
    }
}
@keyframes side-sld {
    0%{
        opacity: 0;
        left: -100%;
    }
    85%{
        opacity: 1;
        left: 10px;
    }
    92%{
        opacity: 1;
        left: -8px;
    }
    96%{
        opacity: 1;
        left: 4px;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}
@-webkit-keyframes side-sld {
    0%{
        opacity: 0;
        left: -100%;
    }
    85%{
        opacity: 1;
        left: 10px;
    }
    92%{
        opacity: 1;
        left: -8px;
    }
    96%{
        opacity: 1;
        left: 4px;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}
@keyframes side-sld-re {
    from{
        left: 0;
        opacity: 1;
    }
    to{
        left: -100%;
        opacity: 0;
    }
}
@-webkit-keyframes side-sld-re {
    from{
        left: 0;
        opacity: 1;
    }
    to{
        left: -100%;
        opacity: 0;
    }
}
@keyframes rst-sld {
    from{
        opacity: 0;
        top: 0;
    }
    to{
        opacity: 1;
        top: 90px;
    }
}
@-webkit-keyframes rst-sld {
    from{
        opacity: 0;
        top: 0;
    }
    to{
        opacity: 1;
        top: 90px;
    }
}
@keyframes rst-sld-re {
    from{
        opacity: 1;
        top: 90px;
    }
    to{
        opacity: 0;
        top: 0;
    }
}
@-webkit-keyframes rst-sld-re {
    from{
        opacity: 1;
        top: 90px;
    }
    to{
        opacity: 0;
        top: 0;
    }
}
@keyframes result-sld {
    from{
        top: -100%;
        opacity: 0;
    }
    to{
        top: 80px;
        opacity: 1;
    }
}
@keyframes result-sld-re {
    from{
        top: 80px;
        opacity: 1;
    }
    to{
        top: -100%;
        opacity: 0;
    }
}
@-webkit-keyframes result-sld {
    from{
        top: -100%;
        opacity: 0;
    }
    to{
        top: 80px;
        opacity: 1;
    }
}
@-webkit-keyframes result-sld-re {
    from{
        top: 80px;
        opacity: 1;
    }
    to{
        top: -100%;
        opacity: 0;
    }
}
@keyframes drop-down {
    from{
        opacity: 0;
        transform: scale(3);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes drop-down {
    from{
        opacity: 0;
        -webkit-transform: scale(3);
    }
    to{
        opacity: 1;
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes movie-select {
    from{
        opacity: 0;
        top: 0;
    }
    to{
        opacity: 1;
        top: 90px;
    }
}
@-webkit-keyframes movie-select {
    from{
        opacity: 0;
        top: 0;
    }
    to{
        opacity: 1;
        top: 90px;
    }
}
@keyframes movie-select-re {
    from{
        opacity: 1;
        top: 90px;
    }
    to{

        opacity: 0;
        top: 0;
    }
}
@-webkit-keyframes movie-select-re {
    from{
        opacity: 1;
        top: 90px;
    }
    to{

        opacity: 0;
        top: 0;
    }
}
@-webkit-keyframes sld-right {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}
@keyframes sld-right {
    from{
        left: 0;
    }
    to{
        left: 100%;
    }
}
@-webkit-keyframes sld-left {
    from{
        left: 0;
    }
    to{
        left: -100%;
    }
}
@keyframes sld-left {
    from{
        left: 0;
    }
    to{
        left: -100%;
    }
}
@-webkit-keyframes sld-right2 {
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}
@keyframes sld-right2 {
    from{
        left: -100%;
    }
    to{
        left: 0;
    }
}
@-webkit-keyframes sld-left2 {
    from{
        left: 100%;
    }
    to{
        left: 0;
    }
}
@keyframes sld-left2 {
    from{
        left: 100%;
    }
    to{
        left: 0;
    }
}



.sld-right{
    animation: sld-right 0.5s;
    -webkit-animation: sld-right 0.5s;
}
.sld-left{
    animation: sld-left 0.5s;
    -webkit-animation: sld-left 0.5s;
}
.sld-right2{
    animation: sld-right2 0.5s;
    -webkit-animation: sld-right2 0.5s;
}
.sld-left2{
    animation: sld-left2 0.5s;
    -webkit-animation: sld-left2 0.5s;
}
.side-sld{
    animation: side-sld 0.5s;
    -webkit-animation: side-sld 0.5s;
}
.side-sld-re{
    animation: side-sld-re 0.5s;
    -webkit-animation: side-sld-re 0.5s;
}
.result-sld{
    animation: result-sld 0.5s;
    -webkit-animation: result-sld 0.5s;
}
.result-sld-re{
    animation: result-sld-re 0.5s;
    -webkit-animation: result-sld-re 0.5s;
}
.my-fade{
    animation: my-fade 0.5s;
    -webkit-animation:  my-fade 0.5s;
}
.my-fade-reverse{
    animation: my-fade-reverse 0.5s;
    -webkit-animation:  my-fade-reverse 0.5s;
}
.my-slide-down{
    animation: slide-down 0.5s;
    -webkit-animation: slide-down 0.5s;
}
.my-slide-down-re{
    animation: slide-down-re 0.5s;
    -webkit-animation: slide-down-re 0.5s;
}
.rst-sld{
    animation: rst-sld 0.5s;
    -webkit-animation: rst-sld 0.5s;
}
.rst-sld-re{
    animation: rst-sld-re 0.5s;
    -webkit-animation: rst-sld-re 0.5s;
}
.drop-down{
    animation: drop-down 0.5s;
    -webkit-animation: drop-down 0.5s;
}
.rotate{
    animation: rotate 1s linear infinite;
    -webkit-animation: rotate linear 1s infinite;
}
.movie-select-drop{
    animation: movie-select 0.5s;
    -webkit-animation: movie-select 0.5s;
}
.movie-select-drop-re{
    animation: movie-select-re 0.5s;
    -webkit-animation: movie-select-re 0.5s;
}